{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Items</h2>
    <ul class="list-group mb-4">
      {% for item in items %}
      <li>{{item.status}} - {{item.name}}
        {% if item.status == 'To Do'%}
          <a href="{{ url_for('complete_item_route',id=item.id) }}">Mark as done</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<form action="/submit" method="POST" class="form-example">
  <div class="form">
    <label for="title">Enter a new item: </label>
    <input type="text" name="title" id="title" required>
    <button class="favorite styled" type="submit">
      Submit
    </button>
  </div>
</form>
{% endblock %}