{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Items</h2>
    <ul class="list-group mb-4">
      {% for to_do_item in to_do_items %}
      <li>To Do - {{to_do_item.name}}
        <a href="{{ url_for('completeItem',id=to_do_item.id) }}">Mark as done</a>
      </li>
      {% endfor %}
      {% for done_item in done_items %}
      <li>Done - {{done_item.name}}</li>
      {% endfor %}
    </ul>
  </div>
</div>

<form action="/submit" method="POST" class="form-example">
  <div class="form">
    <label for="title">Enter a new item: </label>
    <input type="text" name="title" id="title" required>
    <button class="favorite styled" type="submit">
      Submit
    </button>
  </div>
</form>
{% endblock %}